main {
    border: 2em;
    padding-top: 70px;
    padding-bottom: 140px;
    margin-top: 40px;
}

.new-tweet h2 {
    border-bottom: 2px solid #244751;;
}

textarea {
     width: 100%;
     padding: 4px;
}

.counter {
    color: black;
    float: right;
}

.counter.overLimit {
    color: red;
}

.new-tweet {
    background: rgba(170, 170, 170, 0.29);
    padding: 20px;
    border: 1px #aaa solid;
    border-radius: 5px;
}


